<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Text & Url Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>
    <base href="/">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Name">
                <button type="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">Get Analysis</button>
            </form>
        </div>
        <div class="results">
            <strong>Text Analysis</strong>
            <div id="text-header">No search for text yet!</div>
            <br>
            <div class="result-container" id="result-text">
            </div>
            <br>
            <strong >Url Analysis</strong>
            <div id="url-header">No search for url yet!</div>
            <br>
            <div class="result-url" id="result-url">
            </div>
        </div>
        
    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>